<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:600px;"> 
            <div class="card-header">
                <img src="/img/logolieslo.png" alt="" class="card-img-top mx-auto m-2 rounded-circle" style="width:150px; height: 150px;display:block;">
                <h3 class="text-uppercase text-center p-4">CRUD Node js y MySQL</h3> 
            </div> 
            <div class="Card-body text-center">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique beatae nisi consectetur nihil distinctio accusantium quo incidunt, suscipit perspiciatis nam? Iste atque dignissimos distinctio cupiditate eius, dolorum delectus perferendis qui. </p> 
                <a href="" class="btn btn-primary">Crear una Persona</a>
            </div>
        </div>
    </div>
</main>